<div class="find-box">
  <div class="find-box__container">
    <h4 class="find-box__container__header">Xin chào</h4>
    <h2 class="find-box__container__title">
      Tìm kiếm cửa hàng gần bạn <i class="material-icons">gps_fixed</i>
    </h2>
    <button class="find-box__container__button" (click)="getListStore()" [disabled]="listStore.length == 0"
      mat-raised-button color="warn">
      Tìm kiếm
      <mat-spinner
        *ngIf="isFinding"
        style="margin-left: 8px"
        [diameter]="20"
        color="light"
      ></mat-spinner>
    </button>
  </div>
</div>
<div class="list-store" *ngFor="let item of listProductOfStore">
  <div class="list-store__header">
    <h2 class="list-store__header__text">
      Cửa hàng ở
      <span>{{ item.store.diaChi }}</span>
    </h2>
  </div>
  <div class="list-store__body">
    <owl-carousel-o [options]="carouselOption">
      <ng-template carouselSlide *ngFor="let product of item.products">
        <div class="list-store__item">
          <a href="" class="list-store__item__link">
            <div class="list-store__item__link__image">
              <img src="{{ product.hinhAnh }}" alt="" />
            </div>
            <h5 class="list-store__item__link__title">
              {{ product.tenSanPham }}
            </h5>
            <p class="list-store__item__link__type">
              {{ product.tenLoaiHang }}
            </p>
            <div class="list-store__item__link__note">
              <div class="list-store__item__link__note__rating">
                <i class="material-icons">star_half</i>
                <section>{{ item.store.doUyTin }}</section>
              </div>
              <div class="list-store__item__link__note__distance">
                <i class="material-icons">place</i>
                {{ item.distance | number: "1.1-1" }} km
              </div>
            </div>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>