<div class="list-store">
  <div class="list-store__header">
    <h2 class="list-store__header__text">
      Available Restaurants in
      <span>965 Âu Cơ, Phường Tân Sơn Nhì, Quận Tân Phú</span>
    </h2>
  </div>
  <div class="list-store__body">
    <div class="row">
      <div class="col-3">
        <div class="list-store__item">
          <a href="" class="list-store__item__link">
            <div class="list-store__item__link__image">
              <img src="/assets/images/com-van-phong-rio.png" alt="" />
            </div>
            <h5 class="list-store__item__link__title">Cơm Văn Phòng Rio</h5>
            <p class="list-store__item__link__type">Cơm</p>
            <div class="list-store__item__link__note">
              <div class="list-store__item__link__note__rating">
                <i class="material-icons">star_half</i>
                <section>4.3</section>
              </div>
              <div class="list-store__item__link__note__distance">3.2 km</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="list-store__item">
          <a href="" class="list-store__item__link">
            <div class="list-store__item__link__image">
              <img src="/assets/images/com-van-phong-rio.png" alt="" />
            </div>
            <h5 class="list-store__item__link__title">Cơm Văn Phòng Rio</h5>
            <p class="list-store__item__link__type">Cơm</p>
            <div class="list-store__item__link__note">
              <div class="list-store__item__link__note__rating">
                <i class="material-icons">star_half</i>
                <section>4.3</section>
              </div>
              <div class="list-store__item__link__note__distance">3.2 km</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="list-store__item">
          <a href="" class="list-store__item__link">
            <div class="list-store__item__link__image">
              <img src="/assets/images/com-van-phong-rio.png" alt="" />
            </div>
            <h5 class="list-store__item__link__title">Cơm Văn Phòng Rio</h5>
            <p class="list-store__item__link__type">Cơm</p>
            <div class="list-store__item__link__note">
              <div class="list-store__item__link__note__rating">
                <i class="material-icons">star_half</i>
                <section>4.3</section>
              </div>
              <div class="list-store__item__link__note__distance">
                <i class="material-icons">place</i>
                3.2 km
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-3">
        <div class="list-store__item">
          <a href="" class="list-store__item__link">
            <div class="list-store__item__link__image">
              <img src="/assets/images/com-van-phong-rio.png" alt="" />
            </div>
            <h5 class="list-store__item__link__title">Cơm Văn Phòng Rio</h5>
            <p class="list-store__item__link__type">Cơm</p>
            <div class="list-store__item__link__note">
              <div class="list-store__item__link__note__rating">
                <i class="material-icons">star_half</i>
                <section>4.3</section>
              </div>
              <div class="list-store__item__link__note__distance">3.2 km</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
