<div *ngIf="!isHistorical">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Priority </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.id" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.id }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="invoiceID">
            <th mat-header-cell *matHeaderCellDef> Mã đơn hàng </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.invoiceID }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="timeOrder">
            <th mat-header-cell *matHeaderCellDef> Thời gian đặt </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.timeOrder }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Sản phẩm </th>
            <td mat-cell *matCellDef="let data"> {{ data.product }} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Giá(VND) </th>
            <td mat-cell *matCellDef="let data"> {{ data.price }} </td>
        </ng-container>

        <ng-container matColumnDef="numOfElement">
            <th mat-header-cell *matHeaderCellDef> Số lượng </th>
            <td mat-cell *matCellDef="let data"> {{ data.numOfElement }} </td>
        </ng-container>

        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Đơn vị </th>
            <td mat-cell *matCellDef="let data"> {{ data.unit }} </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Tổng tiền </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.total }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Tình trạng </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.status }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]" class="hov">
                    <div *ngIf="data.action && !isHistorical">
                        <button mat-raised-button color="primary" (click)="CancelInvoice(data)" class="mousehover"
                            id="button">Huỷ đơn
                            hàng</button>
                    </div>
                    <div *ngIf="!data.action && !isHistorical" id="button">
                        <button mat-raised-button disabled>Huỷ đơn hàng</button>
                    </div>
                </td>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div *ngIf="isHistorical">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Priority </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.id" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.id }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="timeOrder">
            <th mat-header-cell *matHeaderCellDef> Thời gian đặt </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.timeOrder }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Sản phẩm </th>
            <td mat-cell *matCellDef="let data"> {{ data.product }} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Giá(VND) </th>
            <td mat-cell *matCellDef="let data"> {{ data.price }} </td>
        </ng-container>

        <ng-container matColumnDef="numOfElement">
            <th mat-header-cell *matHeaderCellDef> Số lượng </th>
            <td mat-cell *matCellDef="let data"> {{ data.numOfElement }} </td>
        </ng-container>

        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Đơn vị </th>
            <td mat-cell *matCellDef="let data"> {{ data.unit }} </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Tổng tiền </th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.total }}
                </td>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Tình trạng</th>
            <ng-container *matCellDef="let data">
                <td mat-cell *ngIf="data.invoiceID" [attr.rowspan]="rowSpanData[data.id]">
                    {{ data.status }}
                </td>
            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsHistorical"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsHistorical;"></tr>
    </table>
</div>
<div>
    <mat-checkbox class="checkbox" (change)="ClickCheckbox()"> Lịch sử mua hàng </mat-checkbox>
</div>