<app-sideboard></app-sideboard>
<app-header-store></app-header-store>
<div class="store-content">
    <div class="store-content__item">
        <div [ngSwitch]="activePage">
            <div *ngSwitchCase="itemPage[0]">
                <app-store-certification></app-store-certification>
            </div>
            <div *ngSwitchCase="itemPage[1]">
                <app-statistic></app-statistic>
            </div>
            <div *ngSwitchDefault>output2</div>
        </div>
    </div>
</div>