<div class="product container">
  <div class="row">
    <div class="col-4">
      <div class="product__image">
        <img
          [src]="product?.hinhAnh"
          alt=""
        />
      </div>
    </div>
    <div class="col-5">
        <div class="product__info">
            <h4 class="product__info__name">{{ product?.tenSanPham }}</h4>
            <p class="product__info__price">Giá: {{ product?.giaTien | currency: 'VND': 'symbol' }} / Kg</p>
            <p class="product__info__store">Cửa hàng: {{ product?.tenCuaHang }}</p>
            <p class="product__info__note">Ghi chú: Bạn có thể gọi trước của hàng để được tư vấn. Xin cảm ơn</p>
            <button mat-raised-button color="success">Thêm vào giỏ hàng</button>
        </div>
    </div>
  </div>
</div>
<app-comments></app-comments>