@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import "../../../assets/styles/scss/index.scss";

.title {
  display: block;
  text-align: center;
  padding: 16px 0;
}

.upload-product {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 55%;
    margin-right: 8px;
  }
}

.product {
  &__item {
    @include boxShadow($c-flint, 0.3);
    border-radius: 10px;
    margin-bottom: 16px;
  }

  &__figure {
    img {
      border-radius: 10px 10px 0 0;
    }
  }

  &__content {
  }

  &__title {
    display: block;
    text-align: center;
    overflow: hidden;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $c-japanese-laurel;
    padding: 0 16px;
  }

  &__price {
    display: block;
    text-align: center;
    color: $c-flint;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
  }
}
