<div class="invoice-detail container">
  <h4 id="total">Chi tiết đơn hàng: {{ invoice.invoiceID }}</h4>
  <h5 id="total">Phương thức thanh toán: {{ invoice.payment }}</h5>
  <h5 id="total" *ngIf="invoice.status !== 'Mới tạo'">
    Trạng thái: {{ invoice.oldStatus + " -> " + invoice.status }}
  </h5>
  <h5 id="total" *ngIf="invoice.status === 'Mới tạo'">
    Trạng thái: {{ invoice.status }}
  </h5>
  <h5 id="total">Ngày đặt: {{ invoice.timeOrder }}</h5>
  <div>
    <button mat-button color="accent" id="button" *ngIf="invoice.status === 'Đã giao' && currentUser.loaiND === 1"
      (click)="daNhanHang(invoice.invoiceID)">
      Đã nhận hàng
    </button>
  </div>
  <div>
    <button mat-button color="accent" id="button" *ngIf="invoice.status === 'Mới tạo' && currentUser.loaiND === 2"
      (click)="daChuanBi(invoice.invoiceID)">
      Đã chuẩn bị
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="table">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
      <td mat-cell *matCellDef="let element">{{ element.product }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Đơn giá</th>
      <td mat-cell *matCellDef="let element">{{ element.price }} vnđ</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="numOfElement">
      <th mat-header-cell *matHeaderCellDef>Số lượng</th>
      <td mat-cell *matCellDef="let element">{{ element.numOfElement }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Đơn vị</th>
      <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Đánh giá</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button *ngIf="detail[i]?.danhGia?.length == 0" mat-raised-button color="success"
          (click)="setRating(element.idInvoiceDetail, detail[i].sanPham)">
          Đánh giá
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <h4 id="total">Tổng cộng: {{ totalPrice }} vnđ</h4>
  <h4 id="total" *ngIf="currentUser.loaiND === 2">Tiền hoa hồng cho hệ thống: {{ tienHoaHong }} vnđ</h4>
  <h4 id="total" *ngIf="currentUser.loaiND === 2">Tiền thực nhận: {{ totalPrice*0.99 }} vnđ</h4>
</div>
