<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div [hidden]="!isDisplayNoStore">
        <li class="list-group-item">
            <h6 style="font-size: 17px; text-align: center;">
                Bạn hiện chưa có cửa hàng nào.
            </h6>
        </li>
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item" *ngFor="let item of this.listStore">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="data-show">
                        <div>
                            <h6 style="font-size: 17px;">
                                Cửa hàng: {{item?.tenCuaHang}}
                            </h6>
                            <br>
                            <div [ngSwitch]="item?.trangThai">
                                <small *ngSwitchCase="'0'" class="text-muted" style="font-size: 15px;">Trạng thái: Chờ
                                    xét duyệt
                                </small>
                                <small *ngSwitchCase="'1'" class="text-muted" style="font-size: 15px;">Trạng thái: Hoạt
                                    động
                                </small>
                                <small *ngSwitchCase="'2'" class="text-muted" style="font-size: 15px;">Trạng thái: Khóa
                                </small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" class="mousehover" id="button"
                            [disabled]="!item?.trangThai" (click)="ManageStore(item.id)">Quản lý</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>