<div class="comment container">
  <div class="row">
    <div class="col-8">
      <div class="comment__header">
        <h6 class="comment__header__title">
          Đánh giá sản phẩm Hào Tươi Sống - Hải Sản Anh Vỹ
        </h6>
        <div class="comment__header__rating">
          <h3 class="comment__header__rating__ratio"><span>4.9</span>/5</h3>
          <div class="comment__header__rating__ratio__star">
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
          </div>
          <small class="comment__header__rating__amount">1256 rating</small>
        </div>
      </div>
      <div class="comment__body">
        <div class="comment__body__item">
          <div class="comment__body__item__star">
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
            <i class="material-icons mark-ok">star</i>
            <span class="comment__body__item__star__length"></span>
          </div>
          <p class="comment__body__item__author">
            By <span>MrTrinh</span><i class="material-icons">verified_user</i>
          </p>
          <div class="comment__body__item__review">
            Hải sản tươi ngon, sẽ ủng hộ cửa hàng lâu dài
          </div>
        </div>
        <div class="comment__body__item">
            <div class="comment__body__item__star">
              <i class="material-icons mark-ok">star</i>
              <i class="material-icons mark-ok">star</i>
              <i class="material-icons mark-ok">star</i>
              <i class="material-icons mark-ok">star</i>
              <i class="material-icons mark-ok">star</i>
              <span class="comment__body__item__star__length"></span>
            </div>
            <p class="comment__body__item__author">
              By <span>CuuDuong</span><i class="material-icons">verified_user</i>
            </p>
            <div class="comment__body__item__review">
              Giá rẻ, chất lượng tuyệt vời, 10 điểm
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
