<div class="row find_product">
    <form action="" method="POST" class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="form-group">
            <input class="form-control mr-sm-2 w-20" formControlName="name" type="search" placeholder="Tìm kiếm" aria-label="Search">
        </div>
            <button class="btn btn-outline-success my-2 my-sm-0 w-5" type="submit">Tìm kiếm</button>
    </form>
</div>  

<div class="products__container">
    <ng-container *ngFor="let product of listProduct">
        <section class="product__item">
            <figure class="product__figure">
                <img *ngIf="product.hinhAnh" class="product__image" [src]="product.hinhAnh" alt="" />
            </figure>
            <a [routerLink]="['/product/' + product.id]">
                <div class="product__content">
                    <strong class="product__title">{{ product.tenSanPham }}</strong>
                    <em class="product__price">{{ product.giaTien | currency: 'VND' }}/{{product.donViTinh}}</em>
                   
                </div>
            </a>
            <div>
                <button class="snip1457">mua ngay</button>
                <button class="snip1457" (click)="onInsertCart(product.id)">Thêm vào giỏ</button>
            </div>

        </section>
    </ng-container>
    
</div>