<div class="row find_product">
  <form
    action=""
    method="POST"
    class="form-inline"
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
  >
    <div>
      <div class="form-group input-group mb-3">
        <input
          class="form-control mr-sm-2 w-20"
          formControlName="name"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-success my-2 my-sm-0 w-5"
            type="submit"
          >
            Tìm kiếm
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="products__container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3" *ngFor="let product of listProduct">
        <section class="product__item">
          <figure title="{{ product.tenSanPham }}" class="product__figure">
            <img
              *ngIf="product.hinhAnh"
              class="product__image"
              [src]="
                product?.hinhAnh?.length != 0 ? product.hinhAnh : 'assets/images/no-image.jpg'
              "
              alt=""
            />
          </figure>
          <a [routerLink]="['/product/' + product.id]">
            <div class="product__content">
              <p class="product__title">{{ product.tenSanPham }}</p>
              <p class="product__price">
                {{ product.giaTien | currency: "VND" }}/{{ product.donViTinh }}
              </p>
            </div>
          </a>
          <div class="product__button" id="groupMuaNgayVaThemVaoGio">
            <button
              class="snip1457"
              mat-raised-button
              color="primary"
              id="buttonMuaNgay"
            >
              Mua ngay
            </button>
            <button
              style="margin-left: 8px"
              class="snip1457"
              mat-raised-button
              color="success"
              (click)="onInsertCart(product.id)"
              id="buttonThemVaoGio"
            >
              Thêm vào giỏ
            </button>
          </div>
          
        </section>
      </div>
    </div>
  </div>
</div>
