<h2 mat-dialog-title>Hợp đồng và chính sách</h2>
<!-- <mat-dialog-content class="mat-typography"> -->
<div class="container content">
  <div id="title">Điều Khoản Dịch Vụ Foodgo Quốc Tế</div>
  <p>
<br />
</p>
<mat-dialog-content>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GIỚI
THIỆU</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">1.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Chào mừng đến với dự án Foodgo Quốc Tế (sau
đây gọi là “Dự Án” hoặc “SIP”). Việc bạn sử dụng Dịch Vụ SIP được điều chỉnh
bởi Điều Khoản Dịch Vụ Foodgo Quốc Tế này (“Điều Khoản Dịch Vụ SIP”), và các
Điều Khoản Dịch Vụ SIP này tạo thành các điều khoản bổ sung cho&nbsp;</span><a href="https://Foodgo.vn/docs/3602"><span style="color:#000000;">Điều Khoản Dịch
Vụ</span></a><span style="color:#000000;">&nbsp;của Foodgo. Các từ/ngữ không được định nghĩa trong Điều
Khoản Dịch Vụ SIP sẽ có nghĩa như được định nghĩa tại&nbsp;</span><a href="https://Foodgo.vn/docs/3602"><span style="color:#000000;">Điều Khoản Dịch
Vụ</span></a><span style="color:#000000;">&nbsp;của Foodgo và/hoặc các chính sách có liên quan của Foodgo.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">1.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn, nhà bán hàng (được gọi chung là “Bạn”
hoặc “Nhà Bán Hàng”), công nhận và hiểu rằng bạn sẽ có một tài khoản ở sản giao
dịch thương mại điện tử Foodgo, đạt được các điều kiện do Foodgo đưa ra, nhận
được đề nghị tham gia Dự Án từ Foodgo, và đồng ý với các Điều Khoản và Điều
Kiện này trước khi tham gia vào SIP. Nếu bạn không nhận được đề nghị tham gia
từ Foodgo, hoặc nếu bạn không đồng ý với bất kỳ điều khoản nào của Điều Khoản
Dịch Vụ SIP, vui lòng dừng tất cả và bất kỳ hoạt động nào có liên quan đến Dự
Án.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">1.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Điều Khoản Dịch Vụ SIP bao gồm các điều khoản
được đề cập ở đây, các quy định hoặc hướng dẫn liên quan đến Dự Án do Foodgo
đăng tải theo từng thời kỳ (nếu có).</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ĐỊNH
NGHĨA</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Trang Nhà Bán Hàng: là hệ thống giao diện
người dùng mà Nhà Bán Hàng sử dụng để quản lý tải khoản và hàng hóa đăng bán
của mình khi đăng nhập vào sàn giao dịch thương mại điện tử Foodgo.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Trang Việt Nam: Là nói đến vào sàn giao dịch
thương mại điện tử Foodgo hoạt động ở thị trường Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Trang Ngoài Việt Nam: là nền tảng Foodgo hoạt
động ở thị trường ngoài thị trường Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Hàng hóa: là các đăng bán do Nhà Bán Hàng đăng
tải trên Trang Nhà Bán Hàng.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Tổng Sản Phẩm Đăng Bán: là lượng hàng hóa của
một đơn vị sản phẩm do Nhà Bán Hang đăng tải tại Trang Nhà Bán Hàng và có thể
được bán ở Trang Việt Nam và Các Trang Ngoài Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Giá Bán của Hàng Hóa: có nghĩa là giá nguyên
thủy hoặc giá đã giảm của hàng hóa trên Trang Việt Nam do Nhà Bán Hàng quyết
định.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Giá Bán của Hàng Hóa ở Trang Ngoài Việt Nam:
có nghĩa là giá bạn của Hàng hóa được hiển thị cho người mua ở nước ngoài trên
Trang Ngoài Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">2.8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Phí SIP: có nghĩa là số tiền mà người mua hàng
nước ngoài phải trả cho dịch vụ của Foodgo. Phí này sẽ được bao gồm trong Giá
Bán của Hàng Hóa ở Trang Ngoài Việt Nam.</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NỘI
DUNG</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">3.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn theo đây ủy quyền vô điều kiện cho Foodgo
thay mặt bạn hiển thị gian hàng và hàng hóa của bạn ở Trang Ngoài Việt
Nam.&nbsp; Và đối với các gian hàng ở Trang Ngoài Việt Nam, Foodgo sẽ tối ưu
gian hàng cũng như hỗ trợ người mua ở nước ngoài đặt hàng. Sau khi người mua ở
nước ngoài trên Trang ngoài Việt Nam đặt hàng, thông tin đơn hàng đó sẽ được
đồng bộ và thông báo cho bạn, và bạn sẽ hoàn tất việc chuẩn bị và giao hàng
theo đơn đặt hàng đó.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">3.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn sẽ quyết định Giá Bán của Hàng Hóa ở Trang
Việt Nam. Giá Bán của Hàng Hóa ở Trang Ngoài Việt Nam sẽ được điều chỉnh tương
ứng để bao gồm Phí SIP. Để tránh hiểu nhầm. người mua ở nước ngoài sẽ chịu
trách nhiệm chi trả Phí SIP.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">3.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn sẽ quyết định chủng loại của Hàng hóa và
Tổng Sản Phẩm Đăng Bán. Trừ khi Hàng Hóa bị hạn chế giao dịch theo quy định
pháp luật Việt Nam và quốc gia của Trang Ngoài Việt Nam, tất cả các hàng hóa
được đăng tải trên Trang Nhà Bán Hàng sẽ được tham gia vào Dự Án.</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;text-indent:-28.9pt;background:white;">
<b><span style="color:#000000;">3.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Sau khi đơn hàng được đặt bởi người mua hàng ở
nước ngoài trên Trang Ngoài Việt Nam, Foodgo sẽ đồng bộ và thông báo cho bạn
chủng loại và số lượng Hàng hóa của đơn hàng, và bạn sẽ chịu trách nhiệm chuẩn
bị và dàn xếp để đơn hàng được vận chuyển đến kho hàng của Foodgo ở Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;text-indent:-28.9pt;background:white;">
<b><span style="color:#000000;">3.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Sau khi Hàng hóa đã đến kho hàng của Foodgo ở
Việt Nam, Hàng hóa sẽ được vận chuyển đến cảng của nước mà người mua ở nước
ngoài cư trú (“Nước Đích”) bởi nhà cung cấp dịch vụ logistics do Foodgo chỉ
định.</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;text-indent:-28.9pt;background:white;">
<b><span style="color:#000000;">3.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo sẽ, thay mặt bạn, hỗ trợ người mua hàng
ở nước ngoài trong suốt quá trình giao dịch trên Trang Ngoài Việt Nam (bao gồm
nhưng không giới hạn ở việc hỗ trợ tư vấn trước bán hàng và dịch vụ sau bán
hàng cũng như trong quá trình giải quyết tranh chấp có liên quan nếu có).</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;text-indent:-28.9pt;background:white;">
<b><span style="color:#000000;">3.7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Thanh toán và chính sách trả hàng/hoàn tiền
của Dự Án:&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;background:white;">
<span style="color:#000000;">Nhà Bán Hàng đồng ý rằng giao dịch SIP sẽ chỉ
được xem là hoàn tất, và quyền sở hữu cũng như rủi ro đối với Hàng hóa sẽ chỉ
được chuyển giao cho người mua ở nước ngoài vào thời điểm người mua đó đã nhận
Hàng hóa thành công không phát sinh khiếu nại/tranh chấp theo chính sách Foodgo
Đảm Bảo của mỗi Trang Ngoài Việt Nam có liên quan.</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;background:white;">
<span style="color:#000000;">Tiền bán hàng của Nhà Bán Hàng đối với giao
dịch SIP đã hoàn thành, sau khi trừ đi các khoản phí phải trả cho Foodgo, các
chi phí và lệ phí có liên quan (bao gồm nhưng không giới hạn ở chi phí trả hàng
và logistics), cũng như các khoản khấu trừ thuế có liên quan theo Khoản 8.1 và
8.2, sẽ được ghi nhận bằng Đồng Việt Nam vào Ví Foodgo của Nhà Bán Hàng sau khi
hết thời hàng Foodgo Đảm Bảo của mỗi Trang Ngoài Việt Nam có liên quan (“Chu Kỳ
Thanh Toán Chuẩn”), trừ khi Nhà Bán Hàng được áp dụng Chu Kỳ Thanh Toán Giai
Đoạn Đầu (như được định nghĩa bên dưới).</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;background:white;">
<span style="color:#000000;">Từ ngày 12 tháng 5 năm 2021 cho đến khi có
thông báo khác đi, bạn được áp dụng chu kỳ thanh toán đơn giản (“Chu Kỳ Thanh
Toán Giai Đoạn Đầu”), trong đó Foodgo sẽ ghi nhận tiền bán hàng sau khi đã khấu
trừ các khoản phí phải cho trả cho Foodgo và các khoản thuế theo Khoản 8.1 và
8.2 đối với mỗi giao dịch SIP trong vòng 07 ngày kể từ ngày Hàng hóa đến kho do
Foodgo chỉ định ở Việt Nam. Để tránh hiểu nhầm, ngay cả trong trường hợp bạn
được áp dụng Chu Kỳ Thanh Toán Giai Đoạn Đầu, tất cả các điều khoản được để cập
ở đây sẽ vẫn có hiệu lực áp dụng với bạn. Khi xảy ra Sự Kiện Không Hoàn Tất, bạn
đồng ý hoàn trả lại cho Foodgo tiền bán hàng có liên quan đã nhận cũng như tất
cả chi phí, phí, lệ phí có liên quan đến Sự Kiện Không Hoàn Tất; và theo đây ủy
quyền cho Foodgo khấu trừ các khoản tiền đó vào số dư Ví Foodgo của bạn mà
không cần bạn phải chấp thuận thêm.</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;background:white;">
<span style="color:#000000;">Foodgo bảo lưu quyền ngừng áp dụng Chu Kỳ
Thanh Toán Giai Đoạn Đầu sau khi đã thông báo cho bạn 07 ngày lịch trước khi
ngừng áp dụng Chu Kỳ Thanh Toán Giai Đoạn Đầu.</span>
</p>
<p class="MsoNormal" style="margin-left:28.9pt;text-align:justify;background:white;">
<span style="color:#000000;">Nếu một giao dịch SIP không thể được hoàn tất
vì bất kỳ lý do gì (“Sự Kiện Không Hoàn Tất”), Nhà Bán Hàng có quyền yêu cầu
hoàn trả Hàng Hóa với chi phí của Nhà Bán Hàng trong vòng 03 ngày kể từ ngày
của Sự Kiện Không Hoàn Tất (“Thời Hạn Yêu Cầu Hoàn Trả”). Nếu bạn không yêu cầu
hoàn trả Hàng hóa trong Thời Hạn Yêu Cầu Hoàn Trả, bạn được xem là đã từ bỏ
quyền yêu cầu hoàn trả Hàng hóa, và bạn theo đây đồng ý và ủy quyền cho Foodgo
xử lý/tiêu hủy Hàng hóa có liên quan bằng chi phí của bạn. Nếu bạn yêu cầu hoàn
trả Hàng hóa, bạn sẽ chịu tất cả các chi phí có liên quan đến việc hoàn trả
Hảng hóa cho bạn. Hàng hóa được hoàn trả có thể được hoàn trả lại cho bạn tại
kho do Foodgo chỉ định hoặc địa chỉ do bạn đề xuất tại Việt Nam.</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CÁC
QUYỀN VÀ NGHĨA VỤ CỦA BẠN</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Việc vận hành (các) gian hàng của bạn ở Trang
Việt Nam và quy trình đăng bán Hàng hóa ở Trang Việt Nam sẽ không có thay đổi
do dịch vụ SIP. Bạn sẽ tiếp tục giao dịch theo các chính sách Foodgo của Trang
Việt Nam, và bạn sẽ vẫn chịu trách nhiệm với khách hàng/người mua hàng ở Trang
Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn sẽ kê khai trọng lượng của Hàng hóa một
cách trung thực trong Trang Nhà Bán Hàng.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn sẽ chuyển Hàng hóa đến kho ở Việt Nam do
Foodgo chỉ định theo thông tin đơn hàng gửi đến bạn thông qua Foodgo.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Trước khi gửi hàng, bạn sẽ đóng gói Hàng hóa
theo tiêu chuẩn đóng gói quốc gia hoặc tiêu chuẩn của ngành của nơi nhập khẩu,
hoặc theo tiêu chuẩn đóng gói của Trang Việt Nam nếu không có thông tin về tiêu
chuẩn đóng gói quốc gia hoặc tiêu chuẩn của ngành.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Cho đến khi Hàng hóa được chuyển cho người mua
ở nước ngoài, bạn hiểu rằng bạn chịu tất cả các rủi ro liên quan đến Hàng hóa
và việc vận chuyển Hàng hóa cho người mua ở nước ngoài. Bạn cam kết rằng bạn đã
mua bảo hiểm cho toàn bộ giá trị của Hàng hóa với phạm vi bảo hiểm thích hợp
(bao gồm nhưng giới hạn ở rủi ro liên quan đến việc giao Hàng hóa thành công
cho người mua ở nước ngoài). Trong trường hợp Hàng hóa bị hư hỏng hoặc mất mát
trong quá trình giao hàng, bạn đồng ý rằng Foodgo sẽ không chịu trách nhiệm đối
với bất kỳ thiệt hại, chi phí, phí tổn, hoặc phí phát sinh từ việc Hàng hóa bị
hư hỏng hoặc mất mát đó; và Foodgo sẽ, thay mặt bạn và người mua ở nước ngoài,
làm việc với đơn vị vận chuyển để xử lý các vấn đề có liên quan. Bạn theo đây
đồng ý một cách rõ ràng với kết quả giải quyết giữa Foodgo và đơn vị vận chuyển
liên quan đến Hàng hóa bị mất hoặc hư hỏng.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn đồng ý phát hành hóa đơn cho người mua ở
nước ngoài và/hoặc Foodgo liên quan đến mỗi giao dịch thành công trong Dự Án.
Nếu hóa đơn không được gửi kèm cùng Hàng hóa, bạn sẽ cung cấp hóa đơn trong
vòng 05 ngày kể từ ngày bạn nhận được yêu cầu cung cấp hóa đơn từ Foodgo hoặc
người mua ở nước ngoài. Bạn sẽ đảm bảo tất cả các thuế, phí, lệ phí phải được
áp dụng cho Hàng hóa hoặc bao gồm trong giá của Hàng hóa (nếu có) được áp dụng
theo quy định pháp luật và thể hiện trong hóa đơn của bạn. Foodgo không cung
cấp bất kỳ tư vấn về pháp lý hay tư vấn thuế nào liên quan đến vấn đề này, và
không chịu trách nhiệm về pháp lý hoặc thuế liên quan đến việc bạn bán Hàng hóa
hoặc tham gia vào Chương Trình. &nbsp;Bạn đồng ý cung cấp cho Foodgo chứng cứ
của bất kỳ khoản thuế, phí, lệ phí bạn đã chi trả (ngoài khoản thuế thu nhận cá
nhân). Để tránh hiểu nhầm, trừ khi được thể hiện riêng theo từng hạng mục, giá
Hàng hóa được thể hiện trên hóa đơn sẽ được hiểu là đã bao gồm tất cả các khoản
thuế, phí, lệ phí (trừ thuế thu nhập cá nhân).</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Trong trường hợp có áp dụng phí, các khoản phí
đó sẽ chịu thuế VAT và các khoản thuế có liên quan. Trừ khi được quy định khác
đi trong Điều Khoản Dịch Vụ SIP, bạn chịu trách nhiệm chi trả cho tất cả các
khoản thuế, phí, lệ phí, và bất kỳ chi phí nào khác có liên quan.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">4.8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Đơn hàng sẽ chịu sự kiểm tra hợp lý của Foodgo
và Foodgo có thể từ chối bất kỳ sản phẩm nào bị hư hỏng, không tuân thủ các yêu
cầu trong đơn chàng, hoặc có cơ sở để xem là hàng giả/hàng nhái hoặc vi phạm
Điều Khoản Dịch Vụ hoặc các Chính Sách của Foodgo.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ỦY
QUYỀN VÀ CAM ĐOAN CỦA BẠN</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">5.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn cam kết rằng tất cả các Hàng hóa và thông
tin hàng hóa do bạn đăng tải thông qua Trang Nhà Bán Hàng (bao gồm nhưng không
giới hạn ở nhãn hiệu, logo, tên thương mại, phầm mềm, âm thanh, hình ảnh,
video, đoạn ký tự, đồ họa, biểu tượng, thiết kế, quảng cáo, và tài liệu truyền
thông, sau đây gọi chung là “thông tin hàng hóa”) (i) có nguồn gốc rõ ràng, hợp
pháp và không xâm phạm quyền của bất kỳ bên thứ ba nào, bao gồm nhưng không
giới hạn ở, quyền sở hữu trí tuệ, quyền hình ảnh, và các quyền về pháp lý khác
của bên thứ ba, (ii) không bị tranh chấp hoặc chưa phát sinh đầy đủ quyền về
pháp lý, và bạn có quyền sử dụng, chuyển nhượng/chuyển giao, cũng như cấp phép
các hàng hóa và thông tin hàng hóa.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">5.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Liên quan đến Hàng hóa và thông tin hàng hóa
được đề cập ở Khoản 5.1, bạn theo đây cấp cho Foodgo ủy quyền/giấy phép không
độc quyền, sử dụng không thu phí, có thể chuyển nhượng, có thể cấp phép lại để
sử dụng, sao chép, chỉnh sửa, hiệu đính, đăng tải, dịch, công bố, và hiển thị
trên phạm vi toàn cầu (bao gồm nhưng không giới hạn ở (các) nền tảng Foodgo cho
mục đích quảng bá, truyền thông, xúc tiến thương mại, và bán hàng hóa của nhà
bán hàng, để tạo ra các sản phẩm phải sinh dựa trên thông tin có sẵn và đưa thông
tin đó vào các nội dung khác theo bất kỳ hình thức hoặc phương tiện hoặc công
nghệ nào dù là có sẵn hay được tạo lập về sau.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">5.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn công nhận và đồng ý rằng các thông tin
pháp nhân của bạn tại Trang Việt Nam sẽ được Foodgo cung cấp theo yêu cầu của
nền tảng Foodgo cũng như cơ quan nhà nước có thẩm quyền (ví dụ như trong tờ
khai xuất khẩu/nhập khẩu, phát hành hóa đơn…) để đảm bảo quyền và lợi ích hợp
pháp của người tiêu dùng và thực thi/tuân thủ pháp luật.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">5.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn đồng ý sẽ tuân thủ các chính sách của
Foodgo và các điều khoản và điều kiện này.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">5.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Nếu không được chấp thuận bằng văn bản của
Foodgo, bạn sẽ không được tiết lộ cho các bên thứ ba đối với các thông tin
không công khai cũng như các dữ liệu do Foodgo cung cấp cho bạn.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">5.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn công nhận và đồng ý rằng Foodgo có quyền
quản lý và giới thiệu Tải Khoản Foodgo của bạn theo các điều khoản và điều kiện
này và/hoặc theo quy định pháp luật (nếu có) và/hoặc trên tinh thần thiện chí.
Mặt khác, bạn cam đoan rằng bạn sẽ không cho mượn, chuyển giao hoặc chuyển
nhượng Tải Khoản Foodgo của bạn dưới bất kỳ hình thức nào mà không có chấp
thuận trước bằng văn bản của Foodgo.</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QUYỀN
VÀ NGHĨA VỤ CỦA SHOPE</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">6.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo có quyền quyết định chủng loại và số
lượng hàng hóa ở mỗi nền tảng của Trang Ngoài Việt Nam dựa trên tiêu chí của
người dùng và sức mua ở mỗi nền tảng Foodgo của Trang Ngoài Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">6.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo có quyền quyết định Phí SIP đối với
người mua ở nước ngoài tính trên mỗi Hàng hóa dựa trên sức mua của người tiên
dùng ở quốc gia của mỗi Trang Ngoài Việt Nam, tỉ giá, và bất kỳ tiêu chí nào
khác.&nbsp; &nbsp; &nbsp;&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">6.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo có quyền quyết định việc tối ưu hóa các
gian hàng của Trang Ngoài Việt Nam và sắp xếp các hoạt động khác như quảng bá,
truyền thông, xúc tiến thương mại, cũng như bán hàng.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">6.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo được quyền tính phí đối với bạn theo
các Điều Khoản và Điều Kiện này.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">6.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo sẽ trả cho bạn thu nhập từ đơn hàng
theo định kỳ theo các Điều Khoản và Điều Kiện này.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">6.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo có quyền chỉnh sửa cân nặng của hàng
hóa mà không cần thông báo cho bạn nếu bạn không kê khai một cách trung thực
hoặc chính xác trọng lượng/khối lượng của hàng hóa.</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NHÀ
BÁN HÀNG KHÔNG PHẢI LÀ THƯƠNG NHÂN</span></b>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">Nếu bạn là nhà bán
hàng không phải là thương nhân, bất kỳ giao dịch nào của bạn thông qua Trang
Ngoài Việt Nam do Foodgo Singapore Private Limited vận hành sẽ được điều chỉnh
bởi&nbsp;</span><a href="https://Foodgo.sg/docs/6987"><span style="color:#000000;">Foodgo
International Marketplace Terms of Service</span></a><span style="color:#000000;">. Trong trường hợp có bất
kỳ sự khác biệt nào giữa Điều Khoản Dịch Vụ SIP và&nbsp;</span><a href="https://Foodgo.sg/docs/6987"><span style="color:#000000;">Foodgo
International Marketplace Terms of Service</span></a><span style="color:#000000;">,&nbsp;</span><a href="https://Foodgo.sg/docs/6987"><span style="color:#000000;">Foodgo
International Marketplace Terms of Service</span></a><span style="color:#000000;">&nbsp;sẽ được ưu tiên áp
dụng.</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span><span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIỄN
TRỪ VÀ GIỚI HẠN TRÁCH NHIỆM</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">8.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Việc bạn chấp thuận các Điều Khoản Dịch Vụ
này, việc Foodgo thẩm tra các điều kiện tham gia Chương Trình của bạn, và việc
bạn được tham gia vào Chương Trình không có nghĩa là Foodgo chịu trách nhiệm
một cách rõ ràng hay ngụ ý hoặc đảm bảo hoặc có các trách nhiệm khác đối với
bạn về danh tính, đủ điều kiện, khả năng thực thi… của bạn, hoặc tính chính
xác, tính pháp lý, và có hiệu lực của thông tin do bạn đăng tải, và cũng không
có nghĩa là Foodgo là một bên trong giao dịch giữa bạn và người tiêu dùng, cũng
như Foodgo không có nghĩa vụ tham gia vào quá trình giải quyết tranh chấp liên
quan đến đơn hàng. Bạn sẽ chịu các trách nhiệm pháp lý một cách độc lập cho tất
cả các khiếu nại, tranh chấp, bồi thường… là hệ quả từ hành động của bạn.&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">8.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn đăng tải và bán hàng hóa trên mỗi nền tảng
Foodgo và trực tiếp tham gia vào một giao dịch bán hàng với người tiêu dùng.
Trừ các quyền và nghĩa vụ được quy định tại các Điều Khoản và Điều Kiện này,
Foodgo sẽ không chịu bất kỳ trách nhiệm nào hoặc đảm bảo cho các hàng hóa mà
bạn đăng bán và giao dịch. Foodgo không chịu trách nhiệm với bất kỳ thiệt hại,
điều tra, hoặc phạt phát sinh từ việc đăng tải hàng hóa của bạn trên nền tảng
Foodgo. Foodgo có quyền hủy bất kỳ đơn hàng nào được tạo ra thông qua SIP trong
trường hợp giao dịch vi phạm hoặc có khả năng vi phạm pháp luật hoặc các Chính
sách Foodgo.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PHÍ
VÀ THUẾ</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">9.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Thông qua Dự Án SIP, bạn sẽ xác nhận và báo
cáo doanh thu kinh doanh cũng như đóng thuế theo quy định pháp luật có liên
quan, bao gồm nhưng không giới hạn ở thuế Việt Nam và bất kỳ khoản thuế nào ở
nước mà Hàng hóa của bạn được bán (nếu có).</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">9.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Phí và lệ phí theo Điều Khoản Dịch Vụ Foodgo
và các chính sách Foodgo vẫn được áp dụng cho đơn hàng SIP của bạn.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">9.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Khi chính sách thuế của nước nhập khẩu (nước
của người mua) áp dụng nghĩa vụ thuế với bạn, bạn đồng ý ủy quyền cho Foodgo
và/hoặc các bên liên kết của Foodgo và/hoặc Trang Ngoài Việt Nam khấu trừ khoản
thuế phải đóng từ doanh thu bán hàng của bạn. Để tránh hiểu nhầm, bạn tự chịu
trách nhiệm kê khai và đóng thuế thu nhập cá nhân theo quy định pháp luật Việt
Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">9.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo bảo lưu quyền tính phí xử lý/hỗ trợ đối
với bạn cho các vi phạm liên quan đến hàng hóa (có chịu thuế VAT).</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">10.&nbsp;&nbsp;&nbsp;&nbsp;NGỪNG
THAM GIA</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">10.1.&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Foodgo có thể hủy quyền tham dự Dự Án vào bất
kỳ lúc nào nếu xảy ra một trong các trường hợp sau đây:</span>
</p>
<p class="MsoNormal" style="margin-left:.65in;text-align:justify;text-indent:-.25in;background:white;">
<span style="color:#000000;">(a)&nbsp;&nbsp; Bạn vi
phạm các cam kết, thoa thuận, hoặc nghĩa vụ trong Điều Khoản Dịch Vụ này;</span>
</p>
<p class="MsoNormal" style="margin-left:.65in;text-align:justify;text-indent:-.25in;background:white;">
<span style="color:#000000;">(b)&nbsp;&nbsp;
&nbsp;Bạn vi phạm các chính sách có liên quan, điều khoản, quy định, thông báo,
của Foodgo;</span>
</p>
<p class="MsoNormal" style="margin-left:.65in;text-align:justify;text-indent:-.25in;background:white;">
<span style="color:#000000;">(c)&nbsp;&nbsp;
&nbsp;Foodgo có cơ sở cho rằng bạn không đủ điều kiện để tiếp tục tham gia vào
Dự Án.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">10.2.&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Bạn có thể ngừng tham gia Dự Án bằng việc
thông báo cho Foodgo bằng văn bản. Dù bạn đã ngừng tham gia Dự Án, bạn sẽ vẫn
chịu trách nhiệm cho bất kỳ giao dịch nào chưa hoàn thành (cho dù bắt đầu trước
hay sau khi ngừng tham gia), và nhà bán hàng sẽ thông báo cho Foodgo sau khi đã
hoàn tất tất cả các giao dịch còn tồn đọng theo Điều Khoản Dịch Vụ này. Foodgo
sẽ không chịu trách nhiệm cho bất kỳ thiệt hại nào phát sinh từ các hành động
của Foodgo được thực hiện theo Mục này.&nbsp;</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">11.&nbsp;&nbsp;&nbsp;&nbsp;LUẬT
ĐIỀU CHỈNH</span></b>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">Các Điều Khoản Dịch Vụ
này được điều chỉnh và giải thích theo luật pháp của nước Cộng Hòa Xã Hội Chủ
Nghĩa Việt Nam.&nbsp; Công ước về Hợp đồng Mua bán Hàng hoá Quốc tế của Liên
hợp quốc Và Đạo Luật Mẫu Về Thông Tin Giao Dịch Qua Máy Tính (the Uniform
Computer Information Transaction Act), nếu có liên quan, sẽ không áp dụng cho các
quan hệ/giao dịch được điều chỉnh theo Điều Khoản Dịch Vụ này.</span>
</p>
<p class="MsoNormal" style="text-align:justify;background:white;">
<span style="color:#000000;">&nbsp;</span>
</p>
<p class="MsoNormal" style="margin-left:21.25pt;text-align:justify;text-indent:-21.25pt;background:white;">
<b><span style="color:#000000;">12.&nbsp;&nbsp;&nbsp;&nbsp;CÁC
ĐIỀU KHOẢN CHUNG</span></b>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">12.1.&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">Trừ khi được định nghĩa khác đi, “đơn hàng”
được nhắc đến trong SIP Điều Khoản Dịch Vụ SIP có nghĩa là đơn hàng được tạo
lập ở Trang Ngoài Việt Nam.</span>
</p>
<p class="MsoNormal" style="margin-left:28.35pt;text-align:justify;text-indent:-28.35pt;background:white;">
<b><span style="color:#000000;">12.2.&nbsp;&nbsp;&nbsp;</span></b><span style="color:#000000;">SÀN GIAO DỊCH THƯƠNG MẠI ĐIỆN TỬ Foodgo CÓ
QUYỀN THAY ĐỔI CÁC ĐIỂU KHOẢN VÀ ĐIỀU KIỆN NÀY NÀY BẰNG CÁCH THÔNG BÁO LÊN SÀN
GIAO DỊCH THƯƠNG MẠI ĐIỆN TỬ Foodgo VÀ/HOẶC WEBSITE&nbsp;</span><a href="http://www.Foodgo.vn/"><span style="color:#000000;">WWW.Foodgo.VN</span></a><span style="color:#000000;">&nbsp;CHO
CÁC THÀNH VIÊN BIẾT VÀ THỰC HIỆN THEO QUY ĐỊNH PHÁP LUẬT. VIỆC THÀNH VIÊN TIẾP
TỤC SỬ DỤNG DỊCH VỤ SAU KHI ĐIỂU KHOẢN VÀ ĐIỀU KIỆN SỬA ĐỔI ĐƯỢC CÔNG BỐ VÀ
THỰC THI ĐỒNG NGHĨA VỚI VIỆC THÀNH VIÊN ĐÃ CHẤP NHẬN ĐIỂU KHOẢN VÀ ĐIỀU KIỆN
SỬA ĐỔI. ĐIỂU KHOẢN VÀ ĐIỀU KIỆN SỬA ĐỔI CHÍNH THỨC CÓ HIỆU LỰC THI HÀNH SAU
NĂM (05) NGÀY KỂ TỪ NGÀY ĐĂNG TẢI LÊN WEBSITE.</span>
</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
