<mat-toolbar class="header-homepage">
  <div class="header-logo">
    <a href="/homepage">
      <img src="../../assets/svg/Logo.svg" alt="Logo" />
    </a>
  </div>
  <span>
    <a routerLink="/homepage"></a>
  </span>
  <span class="spacer"></span>

  <div class="header-partner">
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
      <button class="btn  mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Trở thành Đối tác của FoodGo</button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
    </div>
    <div class="header-transport">
      <a mat-button routerLink="/product">Sản Phẩm</a>
    </div>
    <div class="header-transport">
      <a mat-button routerLink="/">Trung tâm Vận chuyển</a>
    </div>
      <div class="header-register" *ngIf="isUnLoggedIn$ | async as isUnLoggedIn">
        <a mat-button routerLink="/register">Đăng Ký </a>
      </div>
      <div class="header-register" *ngIf="isLoggedIn$ | async as isLoggedIn">
        <a mat-button routerLink="/invoice">Giỏ Hàng </a>
      </div>
      <div class="space"></div>
      <div class="header-login" *ngIf="isUnLoggedIn$ | async as isUnLoggedIn">
        <a mat-button routerLink="/login">Đăng Nhập</a>
      </div>
      <div *ngIf="isLoggedIn$ | async as isLoggedIn">
        <button (click)="Logout()" class="cus__button">Đăng Xuất </button>
      </div>
</mat-toolbar>
<div class="space-between">

</div>
