<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="py-5 text-center">
        <h2>Thông tin tài khoản</h2>
    </div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <form [formGroup]="formGroup">
                <div class="card">
                    <h5 class="card-header">Thay đổi mật khẩu</h5>
                    <div class="card-body">
                        <div class="row" style="width: 100%;">
                            <div style="display: flex;">
                                <label for="newpassword">Nhập mật khẩu mới </label>
                                <div *ngIf="(!formGroup.get('newpassword')?.valid && submitted) || formGroup.get('newpassword')?.errors"
                                    style="color: red;"> *</div>
                            </div>
                            <input type="password" formControlName="newpassword" class="form-control mt-1"
                                placeholder="******" style="width: 100%;" />
                            <div *ngIf="formGroup.get('newpassword')?.invalid && (formGroup.get('newpassword')?.dirty || formGroup.get('newpassword')?.touched)"
                                class="alert alert-danger mt-2" style="margin-bottom: 0px !important;">
                                <div
                                    *ngIf="formGroup.get('newpassword')?.errors?.['required'] || formGroup.get('newpassword')?.errors">
                                    Đây là thông tin bắt buộc.
                                </div>
                                <div
                                    *ngIf="!formGroup.get('newpassword')?.errors?.['required'] && (formGroup.get('newpassword')?.invalid && (formGroup.get('newpassword')?.dirty || formGroup.get('newpassword')?.touched))">
                                    Thông tin chưa chính xác.
                                </div>
                            </div>

                            <div class="row" style="width: 100%;">
                                <div style="display: flex;">
                                    <label for="retypepass">Nhập lại mật khẩu mới </label>
                                    <div *ngIf="(!formGroup.get('retypepass')?.valid && submitted) || formGroup.get('retypepass')?.errors"
                                        style="color: red;"> *</div>
                                </div>
                                <input type="password" formControlName="retypepass" class="form-control mt-1"
                                    placeholder="******" style="width: 100%;" [disabled]="true" />
                                <div *ngIf="formGroup.get('retypepass')?.invalid && (formGroup.get('retypepass')?.dirty || formGroup.get('retypepass')?.touched)"
                                    class="alert alert-danger mt-2" style="margin-bottom: 0px !important;">
                                    <div *ngIf="formGroup.get('retypepass')?.errors?.['required']">
                                        Đây là thông tin bắt buộc.
                                    </div>
                                    <div
                                        *ngIf="!formGroup.get('retypepass')?.errors?.['required'] && (formGroup.get('retypepass')?.invalid && (formGroup.get('retypepass')?.dirty || formGroup.get('retypepass')?.touched))">
                                        Thông tin bị lỗi.
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>


                        <div class="mt-3">
                            <button class='btn btn-primary' (click)="onSubmit()"> Lưu thay đổi</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>