/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';
@import './assets/styles/scss/index.scss';

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: $c-white;
  background-color: $c-japanese-laurel;
}

.mat-icon-button.mat-success {
  color: $c-japanese-laurel;
}

.mat-progress-spinner.mat-light circle {
  stroke: $c-white;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
