<div class="container">
    <div class="py-5 text-center">
        <h2>Thanh toán hoá đơn</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Product name</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Second product</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>

            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-8 order-md-1">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="card">
                    <h5 class="card-header">Thông tin cá nhân</h5>
                    <div class="card-body">
                        <div class="row" style="width: 100%;">
                            <div class="form-group col-6">
                                <div style="display: flex;">
                                    <label for="firstName">Tên </label>
                                    <div *ngIf="(!formGroup.get('firstName')?.valid && submitted) || formGroup.get('firstName')?.errors"
                                        style="color: red;"> *</div>
                                </div>
                                <input type="text" formControlName="firstName" class="form-control mt-1"
                                    (change)="test(formGroup.get('firstName'))" placeholder="Hưng Thịnh"
                                    style="width: 100%;" />
                                <div *ngIf="formGroup.get('firstName')?.invalid && (formGroup.get('firstName')?.dirty || formGroup.get('firstName')?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="formGroup.get('firstName')?.errors?.['required']">
                                        Tên là thông tin bắt buộc.
                                    </div>
                                    <div *ngIf="!formGroup.get('firstName')?.errors?.['required'] && (formGroup.get('firstName')?.invalid && (formGroup.get('firstName')?.dirty || formGroup.get('firstName')?.touched))">
                                        Thông tin chưa chính xác.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-6">
                                <div style="display: flex;">
                                    <label for="lastName">Họ </label>
                                    <div *ngIf="(!formGroup.get('lastName')?.valid && submitted) || formGroup.get('lastName')?.errors"
                                        style="color: red;"> *</div>
                                </div>
                                <input type="text" formControlName="lastName" class="form-control mt-1" (change)="test(formGroup.get('lastName'))"
                                    placeholder="Hưng Thịnh" style="width: 100%;" />
                                <div *ngIf="formGroup.get('lastName')?.invalid && (formGroup.get('lastName')?.dirty || formGroup.get('lastName')?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="formGroup.get('lastName')?.errors?.['required']">
                                        Họ là thông tin bắt buộc.
                                    </div>
                                    <div
                                        *ngIf="!formGroup.get('lastName')?.errors?.['required'] && (formGroup.get('lastName')?.invalid && (formGroup.get('lastName')?.dirty || formGroup.get('lastName')?.touched))">
                                        Thông tin bị lỗi.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div style="display: flex;">
                                <label for="phoneNumber">Số điện thoại </label>
                                <div *ngIf="(!formGroup.get('phoneNumber')?.valid && submitted) || formGroup.get('phoneNumber')?.errors"
                                    style="color: red;"> *</div>
                            </div>
                            <input type="text" formControlName="phoneNumber" class="form-control mt-1" (change)="test(formGroup.get('phoneNumber'))"
                                placeholder="Hưng Thịnh" style="width: 100%;" />
                            <div *ngIf="formGroup.get('phoneNumber')?.invalid && (formGroup.get('phoneNumber')?.dirty || formGroup.get('phoneNumber')?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="formGroup.get('phoneNumber')?.errors?.['required']">
                                    Số điện thoại là thông tin bắt buộc.
                                </div>
                                <div
                                    *ngIf="!formGroup.get('phoneNumber')?.errors?.['required'] && (formGroup.get('phoneNumber')?.invalid && (formGroup.get('phoneNumber')?.dirty || formGroup.get('phoneNumber')?.touched))">
                                    Thông tin chưa chính xác.
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div style="display: flex;">
                                <label for="address">Địa chỉ nhận hàng </label>
                                <div *ngIf="(!formGroup.get('address')?.valid && submitted) || formGroup.get('address')?.errors"
                                    style="color: red;"> *</div>
                            </div>
                            <input type="text" formControlName="address" class="form-control mt-1" (change)="test(formGroup.get('address'))"
                                placeholder="69, Rạch Mây, Tuyên Bình, Vĩnh Hưng, Long An" style="width: 100%;" />
                            <div *ngIf="formGroup.get('address')?.invalid && (formGroup.get('address')?.dirty || formGroup.get('address')?.touched)"
                                class="alert alert-danger mt-1">
                                <div *ngIf="formGroup.get('address')?.errors?.['required']">
                                    Địa chỉ là thông tin bắt buộc.
                                </div>
                                <div
                                    *ngIf="!formGroup.get('address')?.errors?.['required'] && (formGroup.get('address')?.invalid && (formGroup.get('address')?.dirty || formGroup.get('address')?.touched))">
                                    Thông tin chưa chính xác.
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <mat-checkbox class="checkbox" color='primary' (change)="ClickCheckbox()"
                                style="text-align: left; display: block; ">Khi bạn
                                chọn vào đây bạn đã đồng ý
                                rằng những thông tin bạn cung cấp cho chúng tôi đều là chính xác, chúng tôi có thể tìm
                                thấy
                                bạn để giao hàng và bạn đã đồng ý với các điều khoản của chúng tôi. </mat-checkbox>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>