.card-wrapper {
    max-width: 400px;
    min-width: 250px;
}

#avatarStore {
    border-radius: 50%;
  height:200px;
  width:200px;
  float: right;
  vertical-align: middle;
  }

  #container1{
    vertical-align : bottom;
    height : 500px;
  }
  #row1{
    position: absolute;
    bottom: 250px;
  }
  #right{
      float:right;
  }